/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
body{
  // background-color: aquamarine;
}

body:not(.dark-mode-preloading) {
  transition: all 0.3s linear;
}

body.my-dark-mode {
  // background-color: #000;
  background: linear-gradient(135deg,  #000 0%,#000 8%,#000 8%,#000 8%,#000 8%,#000 9%,#000 9%,#000 10%,#000 48%,#000 48%,#000 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#000 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 54%,#0c09ec 55%,#0c09ec 55%,#000 55%,#000 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 56%,#0c09ec 57%,#0c09ec 57%,#000 57%,#000 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #fff;
  .chatbox {
    background-color: #0c09ec !important;
    border: none !important;
  }
  .chat-box-header{
    background-color: #0c09ec !important;
  }
  .add-btn button {
    background-color: #0c09ec !important;
    border: 1px solid #000 !important;
  }
  .search-bar input {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
    box-shadow: 0px 0px 20px #0c09ec !important;
  }
  .search-bar input::placeholder, emoji-mart .emoji-mart .emoji-mart-search button svg {
    color: #fff !important;
    fill: #fff !important;
    stroke: #fff !important;
  }
  .chat-users {
    background-color: #000 !important;
    color: #fff !important;
  }
  .chats-text-area textarea {
    background-color: #000 !important;
    color: #fff !important;
    border: none !important;
  }
  emoji-mart .emoji-mart, emoji-mart .emoji-mart input, emoji-mart .emoji-mart input::placeholder,  emoji-mart .emoji-mart .emoji-mart-category-label span {
    background-color: #000 !important;
    color: #fff !important;
  }
  emoji-mart .emoji-mart .emoji-mart-category-label span {
    border: 1px solid #fff;
    border-radius: 4px;
  }
  ::-webkit-scrollbar {
    background-color: #000 !important;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg,  #000 0%,#000 8%,#000 8%,#000 8%,#000 8%,#000 9%,#000 9%,#000 10%,#000 48%,#000 48%,#000 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#000 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 54%,#0c09ec 55%,#0c09ec 55%,#000 55%,#000 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 56%,#0c09ec 57%,#0c09ec 57%,#000 57%,#000 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid #fff;
    // box-shadow: 0px 0px 20px #0c09ec !important;
    border-radius: 10px;
  }
  .change-theme-toggle mat-slide-toggle span {
    color: #fff !important;
  }
  .login-container, .login-container input, .login-container input::placeholder {
    background-color: black !important;
    color: #fff !important;
  }
  .login-container .login-header span {
    color: #fff !important;
  }
  .action-buttons button:hover {
    background-color: #000 !important;
    box-shadow: 3px 12px 20px #0c09ec !important;
  }
  .action-buttons button {
    background: linear-gradient(135deg,  #000 0%,#000 8%,#000 8%,#000 8%,#000 8%,#000 9%,#000 9%,#000 10%,#000 48%,#000 48%,#000 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#000 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 50%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 51%,#0c09ec 54%,#0c09ec 55%,#0c09ec 55%,#000 55%,#000 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 55%,#0c09ec 56%,#0c09ec 57%,#0c09ec 57%,#000 57%,#000 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%,#0c09ec 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .dark-mode-icon {
    filter: invert(1);
  }
}

body.my-light-mode {
  background: linear-gradient(135deg,  #f9f9f9 0%,#ffffff 8%,#ffffff 8%,#ffffff 8%,#ffffff 8%,#ffffff 9%,#ffffff 9%,#ffffff 10%,#ffffff 48%,#ffffff 48%,#ffffff 50%,#fde3f3 50%,#fde3f3 50%,#fde3f3 50%,#ffffff 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 50%,#fac2e5 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fde3f3 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 51%,#fac2e5 54%,#fac2e5 55%,#fde3f3 55%,#ffffff 55%,#ffffff 55%,#fac2e5 55%,#fac2e5 55%,#fac2e5 55%,#fac2e5 55%,#fac2e5 55%,#fac2e5 55%,#fac2e5 55%,#fac2e5 55%,#fac2e5 55%,#fac2e5 56%,#fac2e5 57%,#fde3f3 57%,#fdf9f9 57%,#fdf9f9 57%,#fac2e5 57%,#fac2e5 57%,#fac2e5 57%,#fac2e5 57%,#fac2e5 57%,#fac2e5 57%,#fac2e5 57%,#fde3f3 57%,#fac2e5 57%,#fac2e5 57%,#fac2e5 57%,#fac2e5 57%,#fac2e5 57%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#0c09ec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}