.main-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .login-container{
    height: 365px;
    width: 428px;
    border: 1px solid #cbc5c5;
    box-shadow: 0px 7px 14px grey;
    padding: 31px;
    position: absolute;
    background-color: #fff;
    border-radius: 8px;
    .login-header{
      span{
        font-size: 25px;
        color: #897a7a;
      }
    }
    .login-fields{
      height: 47%;
      padding: 12px 0px;
    }
    .password-container {
      img {
        cursor: pointer;
        float: right;
        left: -15px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
        width: 20px;
        height: 20px;
      }
    }
    .action-buttons {
      display: flex;
      margin-bottom: 10px;
    .register-btn, .back-to-login-btn{
      margin: 22px 0px;
      button{
        height: 35px;
        width: 74px;
        border-radius: 9px;
        border: none;
        cursor: pointer;
        background-color: #587bd5d9;
        color: #fff;
      }
      button:hover{
        color: #fff;
        background-color: #cf84ce;
        transition: ease 0.5s;
      }
    }
    .back-to-login-btn {
      margin-left: 10px;
      button{
        width: 110px !important;
      }
    }
  }
    .need-account{
      display: inline-block;
      width: 60%;
      margin-top: 6px;
      a{
        text-decoration: none;
      }
    }
    .forgot-password{
      display: inline-block;
      a{
        text-decoration: none;
      }
    }
    .Register{
      a{
        text-decoration: none;
        color: red;
      }
    }

  }
}

@media only screen and (max-width: 600px) {
  .main-container{
    .login-container{
      width: unset !important;
      .register-btn {
        width: 100%;
        button {
          width: 100%;
        }
      }
    }
  }
}
