<div class="main-container">
  <div class="login-container">
    <div class="login-header">
      <span>Register</span>
    </div>
    <div class="login-fields">
      <form action="" [formGroup]="loginForm">
      <div class="email-container">
        <label for="">Email</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div class="password-container">
        <label for="">Password</label>
        <input [type]="show ? 'text' : 'password'" class="form-control" formControlName="password">
        <img class="password-icon" [ngClass]="{'dark-mode-icon': show === true}" (click)="password()" src="assets/show.png" *ngIf="show">
        <img class="password-icon"  [ngClass]="{'dark-mode-icon': show === false}" (click)="password()" src="assets/hide.png" *ngIf="!show">
      </div>
      </form>
    </div>
    <div class="action-buttons">
      <div class="register-btn">
        <button (click)="register()">Register</button>
      </div>
      <div class="back-to-login-btn">
        <button  routerLink="/login">Back To Login</button>
      </div>
    </div>
  </div>
</div>
